
/* ADOBE FONTS */
@import url("https://use.typekit.net/nrd5zsw.css");

$bg-color: #f9f9fc;
$light-color: #f0f8f7;
$white: #f0f8f7;


$link: #72798e;
$link-hover: #6f6e80;

/* MAIN ELEMENTS */

* {
    font-family: "aktiv-grotesk";
}

body {
    background: $bg-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.container {
    position: absolute;
    width: 100%;
    min-height:100%;
    top: 0;
    left: 0;
}

.box {
    width: 100%;
    display: flex;
    box-sizing: border-box; 
  align-items: center;
  justify-content: center;

    .box-inner {
        width:80vw;
        padding:1em;
        box-sizing: border-box;
    }

    .inner-center {
        padding: 1em;
    }
}

.box {

    h1 {
        font-family: freight-big-pro, serif;
        font-size: 1.8em;
        margin:0;
    }


    p {
        font-family: "aktiv-grotesk", "Helvetica",  system-ui, -apple-system, BlinkMacSystemFont,;
        line-height: 1.7em;
        font-size: .9em;
        margin:0;
    }
}


img{
    max-height: 100%;
    max-width: 100%;
}

#header{
    position: absolute;
    box-sizing: border-box;
    top:0; left:0;
    padding:1.5em;
    width:100%;
    pointer-events: none;
    
    img{
        max-width:300px;
    }
}



#footer{
    
    color: #5c5858;
    left:0;
    max-width:100%;
    text-align: center;
    font-family: "aktiv-grotesk-extended", sans-serif !important;
    
    a{
        font-family:"Flaco-Mono";
        font-size:.8em;
        text-decoration: none;
        text-transform: uppercase !important;
        color: #72798e;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    
    a:hover{
        color: #8e919b;
    }
}


.navigation{
        
        position: absolute;
        top:0;
        right:0;
        padding:5vh;
    z-index:9999;
        
        a{
            font-family:"Flaco-Mono";
            display:inline-block;
            text-decoration: none;
            margin:0 .5em 0 .5em;
            color:#302f36;
            font-size:.9em;
            padding:.5em;
            border-bottom:1px solid #dbd7d7;
            text-transform: uppercase;
            letter-spacing:.4px;
        }
        
        a:hover{
            color:#6f6e80;
            text-shadow:0 0 15px #25262a;
        }
        
}

/* MAILCHIMP */

#subscribe{
    
    min-height:100vh;
    font-weight: 400;
    font-style: normal;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size:80%;
    background-image:url(../images/technologyph-icons.png);
    
    a{
        font-family:"Flaco-Mono";
        font-size:.8em;
        text-decoration: none;
        color:#72798e;
        text-transform: uppercase;
    }
    
    a:hover{
        color:#8e919b;
    }
    
    input{box-sizing: border-box;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
        transition: all .3s linear;}
    
    small{
        color:#959595;
        font-family:"aktiv-grotesk";
    }
    
    h3{
        margin:0;
        color:#b0b3ba;
        font-weight:100;
        font-size:.8em;
        font-family: "Flaco-Mono", monospace;
        text-transform: uppercase;
    }
    
    h1{
        font-size:2.5em;
        line-height:1.1em;
        color:#222026;
        margin-left:-.1em;
    }
    
    p{
        margin-left:.1em;
        margin-top:.5em;
        margin-bottom:.5em;
        font-size:1em;
        color:#5c5858;
        line-height:1.5em;
    }
    
    .form-line{
        display:flex;}
    
    input[type=email]{
        display:inline-block;
        width:80%;
        height: 50px;
        max-width:290px;
        border:0;
        padding:.75em;
        font-size:1em;
        font-family: "Flaco-Mono", monospace;
    }
    
    input[type=submit]{
        display:inline-block;
        height: 50px;
        float:right;
        margin-left:-.3em;
        padding:.75em;
        font-size:.8em;
        text-transform: uppercase;
        font-family: "Flaco-Mono", monospace !important;
        background:#fff;
        color: #5c5858;
        border:0;
        border-radius:0;
        
    }
    
    input[type=submit]:hover{
        background: #5c5858;
        color: #fff;
        line-height:19px;
        text-shadow: 0 0 18px #fff;
        cursor: pointer;
    }
    
    
}


/* STUFF 

@font-face {
    font-family: 'Flaco';
    src: url('https://technology.ph/assets/fonts/Flaco-Bold.woff2') format('woff2'),
        url('https://technology.ph/assets/fonts/Flaco-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Flaco';
    src: url('https://technology.ph/assets/fonts/Flaco-Italic.woff2') format('woff2'),
        url('https://technology.ph/assets/fonts/Flaco-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Flaco';
    src: url('https://technology.ph/assets/fonts/Flaco-BoldItalic.woff2') format('woff2'),
        url('https://technology.ph/assets/fonts/Flaco-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Flaco';
    src: url('https://technology.ph/assets/fonts/Flaco-Regular.woff2') format('woff2'),
        url('https://technology.ph/assets/fonts/Flaco-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/

@font-face {
    font-family: 'Flaco-Mono';
    src: url('https://technology.ph/assets/fonts/Flaco-Mono.woff2') format('woff2'),
        url('https://technology.ph/assets/fonts/Flaco-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@media only screen and (max-width: 900px) {
    
    #header{ display:none;  }
}


